#server files
server/node_modules/
server/build/
server/.nyc_output/
server/build/
server/junit/
server/**/__tests__
server/Dockerfile
server/Test.Dockerfile
server/.gitignore

#client files
client/node_modules/
client/build/
client/Dockerfile
client/.dockerignore
client/README.md


#misc
.circleci/
.git/
.github/
.vs/
.vscode/
data/
